body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding-top: 60px;
  position: relative;
  width: 100%;
  margin: 0;
  background-color: rgb(184, 184, 184);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s linear;
}

.js-clock .currentTime {
  font-size: 8rem;
}

.clicked {
  color: red;
}

.form,
.greetings {
  display: none;
  font-size: 1.5rem;
}

.showing {
  display: block;
  margin: 0px auto 40px;
  font-size: 2.3rem;
}
.js-todoList {
  font-size: 1.3rem;
  padding: 0;
  list-style: none;
  text-align: left;
}
.js-todoList button {
  cursor: pointer;
}
.js-form input,
.js-todoForm input {
  font-weight: 500;
  outline: 0;
  color: white;
  border: none;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  transition: border-color 0.2s ease;
  text-align: center;
  font-size: 1.4rem;
}
.js-todoForm input {
  width: 60%;
}

.js-weather {
  position: absolute;
  top: 10px;
  right: 15px;
}

.div1,
.div2 {
  text-align: right;
  vertical-align: top;
}
.div1 {
  font-size: 1.5rem;
}
.div2 {
  font-size: 0.8rem;
}
